<h1>Update User!</h1>

<%= form_tag "/users/#{@user.id}", method: :patch, multipart: true do %>

  <div>
    <%= label_tag :first_name %>
    <%= text_field_tag :first_name, @user.first_name %>
  </div>
  <div>
    <%= label_tag :last_name %>
    <%= text_field_tag :last_name, @user.last_name %>
  </div>
  <div>
    <%= label_tag :birthdate %>
    <%= date_field_tag :birthdate, @user.birthdate %>
  </div>

  <div>
    <% @genres.each do |genre| %>
      <%= check_box_tag genre.name.downcase, genre.name.downcase, checked = UserGenre.exists?(user_id: @user.id, genre_id: genre.id) %>
      <%= genre.name %>
    <% end %>
  </div>

  <div>
    <% @instruments.each do |instrument| %>
      <%= check_box_tag instrument.name.downcase, instrument.name.downcase, checked = UserInstrument.exists?(user_id: @user.id, instrument_id: instrument.id) %>
      <%= instrument.name %>
    <% end %>
  </div>

  <div>
    <%= label_tag :address %>
    <%= text_field_tag :address, @user.address %>
  </div>
  <div>
    <%= label_tag :picture %>
    <%= file_field_tag :avatar %>
  </div>
  <div>
    <%= submit_tag "Save User Info" %>
  </div>

<%= link_to "User Info", "/" %>
  <% end %>

