<div class="container">    
  <%= image_tag @user.avatar.url(:medium) %>

  <p>Birthdate: <%= @user.birthdate %></p>
  <p>Bio: <%= @user.bio %></p>
  <p>Favorite Artists: <%= @user.artists %></p>
  <p>City and Neighborhood: <%= @user.area %> </p>
</div>
  <p>Instruments: </p>
  <ul>
  <% @user.instruments.each do |instrument| %>
    <li>
      <%= instrument.name %>
    </li>
  <% end %>
  </ul>
  <p>Genres: </p>
  <ul>
  <% @user.genres.each do |genre| %>
    <li>
      <%= genre.name %>
    </li>
  <% end %>
  </ul>

<% if current_user.id == @user.id %>
  <%= link_to "Update Info", "/users/#{@user.id}/edit" %>
<% end %>
