<hr>

<%= form_tag "/jams/#{@jam.id}", method: :patch do %>

<div>
  <%= label_tag :name_it %>
  <%= text_field_tag :name, @jam.name %>
</div>

<div>
  <%= label_tag :venue %>
  <%= text_field_tag :venue, @jam.venue %>
</div>

<div>
  <%= label_tag :date %>
  <%= date_field_tag :date, @jam.date %>
</div>
<div>
  <%= label_tag :time %>
  <%= time_field_tag :time, @jam.time %>
</div>

<div>
  <%= label_tag :summary %>
  <%= text_area_tag :summary, @jam.summary %>
</div>

<div>
  <%= label_tag :address %>
  <%= text_field_tag :address, @jam.address %>
</div>

<div>
  <h4>Desired Instruments:</h4>
  <ul>
    <% @instruments.each do |instrument| %>
      <li>
        <%= instrument.name %>
        <select name="instruments[<%=instrument.id%>]">
          <option value="0">none</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </li>
    <% end %>
  </ul>
</div>
<h4>Desired Genres:</h4>
<div>
  <% @genres.each do |genre| %>
    <%= check_box_tag "genres[]", genre.id, checked = JamGenre.exists?(jam_id: @jam.id, genre_id: genre.id) %>
    <%= genre.name %>
  <% end %>
</div>
<hr>
<div>
  <%= submit_tag "Edit Jam" %>
</div>

<% end %>

