<%= form_tag "/jams/#{@jam.id}", method: :patch do %>

<div>
  <%= label_tag :name_it %>
  <%= text_field_tag :name, @jam.name %>
</div>

<div>
  <%= label_tag :venue %>
  <%= text_field_tag :venue, @jam.venue %>
</div>

<div>
<%= label_tag :datetime %>
<%= datetime_local_field_tag :datetime, @jam.datetime %>
</div>

<div>
  <%= label_tag :summary %>
  <%= text_field_tag :summary, @jam.summary %>
</div>

<div>
  <%= label_tag :address %>
  <%= text_field_tag :address, @jam.address %>
</div>

<div>
  <h4>Desired Instruments:</h4>
  <ul>
    <% @instruments.each do |instrument| %>
      <li>
        <%= instrument.name %>
        <select name="instruments[<%=instrument.id%>]">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </li>
    <% end %>
  </ul>
</div>

<div>
  <% @genres.each do |genre| %>
    <%= check_box_tag genre.name.downcase, genre.name.downcase, checked = JamGenre.exists?(jam_id: @jam.id, genre_id: genre.id) %>
    <%= genre.name %>
  <% end %>
</div>

<div>
  <%= submit_tag "Edit Jam" %>
</div>

<%= link_to "Back to all Jams", "/jams" %>
<%= link_to "User Info", "/" %>

<% end %>
