<h1>New Event</h1>

<%= form_tag "/jams", method: :post do %>
<div>
  <%= label_tag :name_it %>
  <%= text_field_tag :name %>
</div>
<div>
  <%= label_tag :venue %>
  <%= text_field_tag :venue %>
</div>
<div>
  <%= label_tag :datetime %>
  <%= datetime_local_field_tag :datetime %>
</div>
<div>
  <%= label_tag :summary %>
  <%= text_field_tag :summary %>
</div>
<div>
  <%= label_tag :address %>
  <%= text_field_tag :address %>
</div>

<div>
  <h4>Desired Instruments:</h4>
  <p>(Include number of instruments wanted)</p>
  <ul>
    <% @instruments.each do |instrument| %>
      <li>
        <%= instrument.name %>
        <%= text_field_tag "instruments[#{instrument.id}]" %>
      </li>
    <% end %>
  </ul>
</div>

<div>
  <h4>Desired Genres:</h4>
  <ul>
    <% @genres.each do |genre| %>
      <%= check_box_tag genre.name.downcase, genre.name.downcase %>
      <%= genre.name %>
    <%end%>
  </ul>
</div>

<div>
  <%= submit_tag "Start Jam!" %>
</div>

<%= link_to "User Info", "/" %>
<%= link_to "View all Jams", "/jams" %>


<% end %>