<div class="jam-show">
  <h1>Jam</h1>
  <h3>Jam Name: <%= @jam.name %></h3>
  <h3>Venue: <%= @jam.venue %></h3>
  <h3>Date: <%= @jam.date %></h3>
  <h3>Time: <%= @jam.time %></h3>
  <h3>Summary: <%= @jam.summary %></h3>
  <h3>Address: <%= @jam.address %></h3>
</div>
<div>
<h4>Musicians that have joined:</h4>
<ul>
  <% @jam.users.each do |user| %>
    <li><%= user.name %></li>
  <% end %>
</ul>
</div>

<div>
<h4>Instruments Wanted:</h4>
<ul>
  <% @jam.jam_instruments.each do |jam_instrument| %>
    <li><%= "#{jam_instrument.instrument.name} - quantity (#{jam_instrument.quantity})" %></li>
  <%end%>
</ul>
</div>

<div>
<h4>Genres:</h4>
<ul>
  <% @jam.jam_genres.each do |jam_genre| %>
    <li><%= "#{jam_genre.genre.name}" %></li>
  <% end %>
</ul>
</div>
<%= link_to "Back to all Jams", "/jams" %>
<%= link_to "Edit this Jam", "/jams/#{@jam.id}/edit" %>
<%= link_to "Delete this jam", "/jams/#{@jam.id}" %>

<%= link_to "Join this jam", "/commitments?jam_id=#{@jam.id}", {method: :post} %>