<div class="jam-show">
  <h1>Jam</h1>
  <h3>Jam Name: <%= @jam.name %></h3>
  <h3>Venue: <%= @jam.venue %></h3>
  <h3>Date: <%= @jam.date %></h3>
  <h3>Time: <%= @jam.pretty_time %></h3>
  <h3>Summary: <%= @jam.summary %></h3>
  <h3>Address: <%= @jam.address %></h3>
</div>
<div>
<h4>Musicians that have joined:</h4>
<ul>
  <% @jam.users.each do |user| %>
    <li><%= user.username %></li>
  <% end %>
</ul>
</div>

<div>
<h4>Instruments Wanted:</h4>
<ul>
  <% @jam.jam_instruments.each do |jam_instrument| %>
    <li><%= "#{jam_instrument.instrument.name} - quantity (#{jam_instrument.quantity})" %></li>
  <%end%>
</ul>
</div>

<div>
<h4>Genres:</h4>
<ul>
  <% @jam.jam_genres.each do |jam_genre| %>
    <li><%= "#{jam_genre.genre.name}" %></li>
  <% end %>
</ul>
</div>

<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
<div ng-app="app">
  <div ng-controller="chatCtrl" ng-init="setup(<%= @jam.id %>)">
    <h1>Messages</h1>
    <input placeholder="New message" ng-model="newMessageText">
    <button ng-click="createMessage(newMessageText)">Submit</button>
    <div ng-repeat="message in messages">
      <p>{{ message.prettyTime }} <strong>{{ message.name }}</strong>: {{ message.text }}</p>
    </div>
  </div>
</div>

<% if current_user.id == @jam.user_id %>
  <%= link_to "Edit this Jam", "/jams/#{@jam.id}/edit" %>
  <%= link_to "Delete this jam", "/jams/#{@jam.id}", {method: :delete} %>
<% end %>

<%= link_to "Join this jam", "/commitments?jam_id=#{@jam.id}", {method: :post} %>