<div class="jam-show">
  <h1>Jam</h1>
  <h3>Jam Name: <%= @jam.name %></h3>
  <h3>Venue: <%= @jam.venue %></h3>
  <h3>Date: <%= @jam.date %></h3>
  <h3>Time: <%= @jam.time %></h3>
  <h3>Summary: <%= @jam.summary %></h3>
  <h3>Address: <%= @jam.address %></h3>
</div>
<%= link_to "User Info", "/" %>
<%= link_to "Back to all Jams", "/jams" %>